thop_zadaca_3_2/web/WEB-INF/wsdl/localhost_8080/thop_zadaca_3_1/GeoMeteoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.thop.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.thop.nwtis.foi.org/" name="GeoMeteoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.thop.nwtis.foi.org/" schemaLocation="http://localhost:8080/thop_zadaca_3_1/GeoMeteoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="dajVazeceMeteoPodatkeZaAdresu">
<part name="parameters" element="tns:dajVazeceMeteoPodatkeZaAdresu"/>
</message>
<message name="dajVazeceMeteoPodatkeZaAdresuResponse">
<part name="parameters" element="tns:dajVazeceMeteoPodatkeZaAdresuResponse"/>
</message>
<message name="dajSveMeteoPodatkeZaAdresu">
<part name="parameters" element="tns:dajSveMeteoPodatkeZaAdresu"/>
</message>
<message name="dajSveMeteoPodatkeZaAdresuResponse">
<part name="parameters" element="tns:dajSveMeteoPodatkeZaAdresuResponse"/>
</message>
<message name="dajZadnjeMeteoPodatkeZaAdresu">
<part name="parameters" element="tns:dajZadnjeMeteoPodatkeZaAdresu"/>
</message>
<message name="dajZadnjeMeteoPodatkeZaAdresuResponse">
<part name="parameters" element="tns:dajZadnjeMeteoPodatkeZaAdresuResponse"/>
</message>
<message name="dohvatiMeteoPodatke">
<part name="parameters" element="tns:dohvatiMeteoPodatke"/>
</message>
<message name="dohvatiMeteoPodatkeResponse">
<part name="parameters" element="tns:dohvatiMeteoPodatkeResponse"/>
</message>
<message name="dohvatiAdrese">
<part name="parameters" element="tns:dohvatiAdrese"/>
</message>
<message name="dohvatiAdreseResponse">
<part name="parameters" element="tns:dohvatiAdreseResponse"/>
</message>
<message name="dajSveAdrese">
<part name="parameters" element="tns:dajSveAdrese"/>
</message>
<message name="dajSveAdreseResponse">
<part name="parameters" element="tns:dajSveAdreseResponse"/>
</message>
<portType name="GeoMeteoWS">
<operation name="dajVazeceMeteoPodatkeZaAdresu">
<input wsam:Action="http://serveri.ws.thop.nwtis.foi.org/GeoMeteoWS/dajVazeceMeteoPodatkeZaAdresuRequest" message="tns:dajVazeceMeteoPodatkeZaAdresu"/>
<output wsam:Action="http://serveri.ws.thop.nwtis.foi.org/GeoMeteoWS/dajVazeceMeteoPodatkeZaAdresuResponse" message="tns:dajVazeceMeteoPodatkeZaAdresuResponse"/>
</operation>
<operation name="dajSveMeteoPodatkeZaAdresu">
<input wsam:Action="http://serveri.ws.thop.nwtis.foi.org/GeoMeteoWS/dajSveMeteoPodatkeZaAdresuRequest" message="tns:dajSveMeteoPodatkeZaAdresu"/>
<output wsam:Action="http://serveri.ws.thop.nwtis.foi.org/GeoMeteoWS/dajSveMeteoPodatkeZaAdresuResponse" message="tns:dajSveMeteoPodatkeZaAdresuResponse"/>
</operation>
<operation name="dajZadnjeMeteoPodatkeZaAdresu">
<input wsam:Action="http://serveri.ws.thop.nwtis.foi.org/GeoMeteoWS/dajZadnjeMeteoPodatkeZaAdresuRequest" message="tns:dajZadnjeMeteoPodatkeZaAdresu"/>
<output wsam:Action="http://serveri.ws.thop.nwtis.foi.org/GeoMeteoWS/dajZadnjeMeteoPodatkeZaAdresuResponse" message="tns:dajZadnjeMeteoPodatkeZaAdresuResponse"/>
</operation>
<operation name="dohvatiMeteoPodatke">
<input wsam:Action="http://serveri.ws.thop.nwtis.foi.org/GeoMeteoWS/dohvatiMeteoPodatkeRequest" message="tns:dohvatiMeteoPodatke"/>
<output wsam:Action="http://serveri.ws.thop.nwtis.foi.org/GeoMeteoWS/dohvatiMeteoPodatkeResponse" message="tns:dohvatiMeteoPodatkeResponse"/>
</operation>
<operation name="dohvatiAdrese">
<input wsam:Action="http://serveri.ws.thop.nwtis.foi.org/GeoMeteoWS/dohvatiAdreseRequest" message="tns:dohvatiAdrese"/>
<output wsam:Action="http://serveri.ws.thop.nwtis.foi.org/GeoMeteoWS/dohvatiAdreseResponse" message="tns:dohvatiAdreseResponse"/>
</operation>
<operation name="dajSveAdrese">
<input wsam:Action="http://serveri.ws.thop.nwtis.foi.org/GeoMeteoWS/dajSveAdreseRequest" message="tns:dajSveAdrese"/>
<output wsam:Action="http://serveri.ws.thop.nwtis.foi.org/GeoMeteoWS/dajSveAdreseResponse" message="tns:dajSveAdreseResponse"/>
</operation>
</portType>
<binding name="GeoMeteoWSPortBinding" type="tns:GeoMeteoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajVazeceMeteoPodatkeZaAdresu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveMeteoPodatkeZaAdresu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajZadnjeMeteoPodatkeZaAdresu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dohvatiMeteoPodatke">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dohvatiAdrese">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveAdrese">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GeoMeteoWS">
<port name="GeoMeteoWSPort" binding="tns:GeoMeteoWSPortBinding">
<soap:address location="http://localhost:8080/thop_zadaca_3_1/GeoMeteoWS"/>
</port>
</service>
</definitions>